<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Device form</title>
</head>
<body>

<h2>ADD DEVICE</h2>

<form th:action="@{/devices/save}" method="post" th:object="${device}">

    <div>
        <label>Name</label>
        <input type="text" th:field="*{deviceName}">
    </div>

    <div>
        <label>Model code</label>
        <input type="text" th:field="*{modelCode}">
    </div>

    <div>
        <label>Price</label>
        <input type="number" th:field="*{price}">
    </div>

    <div>
        <label>Manufacture Date</label>
        <input type="date" th:field="*{manufactureDate}">
    </div>

    <div>
        <label>Brand</label>
        <select th:field="*{brand}">
            <option value="">Select Brand</option>
            <option th:each="b : ${brands}"
                    th:value="${b.id}"
                    th:text="${b.name}">
            </option>
        </select>
    </div>

    <div>
        <label>Available</label>
        <input type="checkbox" th:field="*{isAvailable}">
    </div>

    <br>
    <button type="submit">Save</button>

</form>

<br>
<a th:href="@{/devices}">Back</a>

</body>
</html>