<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Device List</title>
</head>
<body>

<h2>Device List</h2>

<form method="get" th:action="@{/devices}">
    <input type="text" name="keyword" placeholder="Search..."
           th:value="${keyword}">
    <button type="submit">Search</button>
</form>

<a th:href="@{/devices/add}">+ Add Device</a>

<br><br>

<table border="1" cellpadding="10">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Model</th>
        <th>Price</th>
        <th>Date</th>
        <th>Brand</th>
        <th>Image</th>
    </tr>

    <tr th:each="d : ${devices.content}">
        <td th:text="${d.id}"></td>
        <td th:text="${d.deviceName}"></td>
        <td th:text="${d.modelCode}"></td>
        <td th:text="${d.price}"></td>
        <td th:text="${d.manufactureDate}"></td>
        <td th:text="${d.brand.name}"></td>

        <td>
            <img th:if="${d.productImage != null}"
                 th:src="@{'/uploads/' + ${d.productImage}}"
                 width="80"/>
        </td>
    </tr>

</table>

<br>

<div>
    <a th:if="${devices.hasPrevious()}"
       th:href="@{/devices(page=${devices.number-1}, keyword=${keyword})}">
        ◀ Prev
    </a>

    <span> Page [[${devices.number + 1}]] / [[${devices.totalPages}]] </span>

    <a th:if="${devices.hasNext()}"
       th:href="@{/devices(page=${devices.number+1}, keyword=${keyword})}">
        Next ▶
    </a>
</div>

</body>
</html>